<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <main>
    <div class="container">
      <div class="left-column">
        <div class="left-box">
          <img src="../assets/logo.png" alt="" style="width: 100px;">
        </div>
      </div>
      <div class="right-column">
        <div class="right-box">
          <div style="display: flex; align-items: center; justify-content: space-between; padding: 0px 10px;">
            <input type="text" name="" id="" placeholder="search">
            <div style="display: flex; align-items: center; gap: 10px;">
              <p>your name</p>
              <a href="index.html" style="color: #000;">logout</a>
            </div>
          </div>
        </div>
        <div class="right-box">
          <canvas id="chartPertama" width="600" height="400"></canvas>
        </div>
        <div class="right-box">
          <canvas id="chartKedua" width="600" height="400"></canvas>
        </div>
        <div class="right-box">
          <canvas id="chartKetiga" width="600" height="400"></canvas>
        </div>
        <div class="right-box">
          <footer>
            <h5>Design By Juangga Deka</h5>
            <ul>
              <li><a href="https://www.instagram.com/dekasajaaa?igsh=bWFsNW02enhyNmY5" target="_blank"
                  style="color: #000;">Instagram</a></li> |
              <li><a
                  href="https://www.linkedin.com/in/juangga-deka-b72232311?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank" style="color: #000;">Linkedin</a>
              </li> |
              <li><a href="t.me/Keiii_D" target="_blank" style="color: #000;">Telegram</a></li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
  </main>


  <script src="../js/script.js"></script>
</body>

</html>