<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>layout</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <img src="../assets/logo.png" alt="logo webtech indonesia" style="width: 50px;">
      <ul>
        <li><a href="index.html" class="">Beranda</a></li>
        <li><a href="blog.html" class="">Blog</a></li>
        <li><a href="portfolio.html" class="">Portfolio</a></li>
        <li><a href="admin.html" class="btn">Login</a></li>
      </ul>
    </nav>
  </header>

  <main style="margin-top: 70px;">
    <section class="detail-blog">
      <div class="detail-blog-grid">
        <div class="detail-blog-main">
          <div class="detail-blog-card">
            <h4>Title Here</h4>
            <div class="detail-blog-image">
              <img src="../assets/images (6).webp" alt="detail-blog-image">
            </div>
            <div class="first-detail-blog" style="display: flex; align-items: center; justify-content: space-between;">
              <p>author</p>
              <p>29 agustus 2024</p>
            </div>
            <div class="two-detail-blog">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fuga distinctio at libero est,
                officiis architecto vero quos. Reprehenderit pariatur voluptas aspernatur ducimus atque itaque, minima
                ut sed repellat harum?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fuga distinctio at libero est,
                officiis architecto vero quos. Reprehenderit pariatur voluptas aspernatur ducimus atque itaque, minima
                ut sed repellat harum?
              </p>
            </div>
            <div class="three-detail-blog" style="display: flex; align-items: center; gap: 10px;">
              <p>total view</p>
              <p>total comment</p>
            </div>
          </div>
        </div>
        <div class="detail-blog-category">
          <div class="detail-category-card">
            <h4>category : </h4>
            <div class="detail-blog-tag">
              <span class="tag">asf</span>
              <span class="tag">asf</span>
              <span class="tag">asf</span>
              <span class="tag">asf</span>
              <span class="tag">asf</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="comment">
      <div class="container-comment">
        <h4>commment</h4>
        <div class="comment-flex">
          <div class="tambah-komen">
            <form style="display: flex; flex-direction: column;">
              <label for="">name</label>
              <input type="text" placeholder="input name">
              <label for="">email</label>
              <input type="text" placeholder="input email">
              <label for="">website</label>
              <input type="text" placeholder="input website">
              <label for="">subject</label>
              <input type="text" placeholder="input subject">
              <label for="">comment</label>
              <textarea name="" id="" rows="6" placeholder="your comment"></textarea>
              <button>submit</button>
            </form>
            
          </div>
          <div style="margin: 20px 0;">
            <hr>
          </div>
          <div class="list-komen">
            <div class="list-komen-card">
              <div>
                <div>
                  <img src="../assets/images (4).jpg" alt="">
                </div>
                <p>author</p>
                <p class="date">date</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum in perspiciatis hic natus aliquam
                nesciunt iure repellat enim! Doloribus dicta accusamus officiis cupiditate quo harum quis architecto,
                libero dolores earum. </p>
            </div>
            <hr>
            <div class="list-komen-card">
              <div>
                <div>
                  <img src="../assets/images (4).jpg" alt="">
                </div>
                <p>author</p>
                <p class="date">date</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum in perspiciatis hic natus aliquam
                nesciunt
                iure repellat enim! Doloribus dicta accusamus officiis cupiditate quo harum quis architecto, libero
                dolores earum. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <h5>Design By Juangga Deka</h5>
    <ul>
      <li><a href="https://www.instagram.com/dekasajaaa?igsh=bWFsNW02enhyNmY5" target="_blank"
          style="color: #000;">Instagram</a></li> |
      <li><a
          href="https://www.linkedin.com/in/juangga-deka-b72232311?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
          target="_blank" style="color: #000;">Linkedin</a>
      </li> |
      <li><a href="t.me/Keiii_D" target="_blank" style="color: #000;">Telegram</a></li>
    </ul>
  </footer>

  <script src="../js/script.js"></script>
</body>

</html>